@import models.User
@(user: User)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
<h2>Github User Page</h2>
<div>

    <ul>
        <h3>@user.login</h3>
        <li>@user.created_at</li>
        <li>@user.location.getOrElse("unknown")</li>
        <li>@user.followers</li>
        <li>@user.following</li>
        <button href="@controllers.routes.ApplicationController.usersRepos(user.login)">Repositories</button>

    </ul>

</div>
</body>
</html>